*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Saira', sans-serif;
}
body{
    max-height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px 0px;
    padding: 0px 0px;
}

header{
    height: 10vh;
    background-color: red;
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 10;

}     
header a{
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    display: inline-block; 
    font-size: 25px;
    font-weight: 700;
    border: none;
    text-decoration: none;
    cursor: pointer;
      
}
.tasto2{
    margin: 0px 20px;
}
.page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: red;
}

.page1 img{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.page1 p{
    color: yellow;
}
.page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: green;
}

.page2 img{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.page2 p{
    color: yellow;
}
.page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: yellow;
}

.page3 img{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.page3 p{
    color: green;
}
p{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%);
    font-size: 4vw;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
}
